<%- include("navbar") %>
<div class="container">
    <% afinidade.forEach(e => { %>
     <div class="row">
        
            <p class="p marginAfi">Seu perfil teve </p>
            
            <p class="p marginAfi"> <%- e.afinidade * 2%>% de afinidade com o usuário </p>
           
            <a class = "p marginAfi" href=<%- e.url%>>Teste</a>
           
            <img class = "tamanho2 marginImag" src="https://image.flaticon.com/icons/png/512/147/147144.png"/>
        </div>  
       <%  }); %>

</div>