<%- include("navbar") %>
<div class="container">
    <% afinidade.forEach(e => { %>
     <div class="row">
         <%- e.nome %> 
         <%- e.afinidade * 2%> <h>%</h>
     </div>  
    <%  }); %>
</div>