<%- include("navbar") %>
<div style="  display: grid; grid-template-columns: auto auto auto auto auto auto; grid-gap: 10px; padding: 10px;">
    <div style="grid-column: 1 / 4;">
        aaa
    </div>
    <div style="grid-column: 4 /  7;">
        aaa
    </div>
    <div style="grid-column: 1 /  7;">
        a
    </div>

</div>
