<div id="url" ><button onclick="encaminhar()">Login</button></div>  
        <script type="text/javascript">
		
            function encaminhar() {
                
                var opcoes = {
                    url: 'http://localhost:1337/login',
                    
                    success: function (link) {
                        var url = $("#url");
                            
                        url.html(link);

                        //window.location.href = link;
                          window.open(link)
                    },
                    
                    error: function () {
                        
                        alert("Erro");
                    }
                };
                
                $.ajax(opcoes);
                
            }
            
            
            
        </script>

