<%- include("navbar") %>
<div class="container">
    <% musicas.forEach(e => { %>
     <div class="row">
         <%- e.nome %> 
         <%- e.nomealbum %> 
         <img src=<%- e.imagem %> />
     </div>  
    <%  }); %>
</div>