<style type = "text/css">

header{
    color:rgba(237, 34, 79);

}
body{
    color:rgba(237, 34, 79);
    background: black;
    font-family: prompt;
   
}
h1{
    padding: 80px 50px 50px 50px;
    }
h2{
    font-size: 25px;
}
.ajustar{
    text-align: right;
}
.color{
    color:rgba(237, 34, 79);
}
.widht{
 width: 720px;
}
.box{
    background-color: rgba(237, 34, 79, 0.3);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0);
}
.button{
    background-color:rgba(237, 34, 79);
    float: none;
    color: white;
    border-radius: 20px;
    border: 1px solid rgba(237, 34, 79);
    margin: 0px 0px 20px 0px;   
}
.size1{
    width: 100px;
    height: 30px;
}
.size2{
   
    width: 200px;
    height: 30px;
}
.right{
    text-align: right;
}
.margin{
 margin: 10px 15px 10px 15px;
}
.margin2{
    margin: 10px 150px 10px 0px;
}

header ul{
    list-style-type: none;
    margin: 0px 0px;
    padding: 2px;
    width: 80%;
    background-color: rgba(29, 174, 87);
    float: left; /*como o fluxo do li é flutuante, o do ul tambem tem que ser*/
}

header ul li {
    float: left; /*Para colocar os li flutuando*/
    margin: 0px auto;
    font-size: 1.1em;
}


header ul a {
    line-height: 1em;
    text-decoration: none;
    padding: 0 3em;
}

header ul a:hover {
    color: #d1426d;
    text-decoration: none;
}
.black{
    color: black;
}
</style>

<header><!-- inicio Cabecalho -->
      <nav class="navbar navbar-expand-sm navbar-light" style="   background-color: rgba(29, 174, 87); margin-bottom: 2%; font-size: 1em; width: 100%;">
              
                <div class="collapse navbar-collapse" id="nav-principal" >
                    <ul class="margin2 navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="http://localhost:1337/tracks" class=" nav-link text-dark ">Tracks</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:1337/artists" class="nav-link text-dark">Artists</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:1337/afinidade" class="nav-link text-dark">Match</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:1337/profile" class="nav-link text-dark">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="logout.html" class="nav-link text-dark">Logout</a>
                        </li>
                    </ul>
                </div>
          </nav>
    </header><!--/fim Cabecalho -->
